<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us Form</title>
</head>

<body>
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Contact Us!</h1><br>
    <div style="border: solid teal 2px; border-radius: 5px; padding: 20px; margin-left: 20%; margin-right: 20%; font-family: Arial, Helvetica, sans-serif; text-align: center;">
        <p>Please enter your contact information:</p><br>
        <label for="name">Name:</label>
        <input id="name" type="text" placeholder="Your Name" ><br><br><br>
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Your Email" ><br><br><br>
        <label for="phone">Phone:</label>
        <input id="phone" type="tel" placeholder="Your Phone Number" ><br><br><br>
        <label for="message">Message:</label>
        <input id="message" type="text" placeholder="Your Message Here" ><br><br><br>
        <button style="border-radius: 5px; background-color: teal; font-size: 16px; font-weight: 500; height: 40px; width: 100px;">Log In</button>
    </div>
</body>
</html>