<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us Form</title>
</head>
<body>
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Failed login! Try again...</h1><br>
    <div style="border: solid teal 2px; border-radius: 5px; padding: 20px; margin-left: 20%; margin-right: 20%; font-family: Arial, Helvetica, sans-serif; text-align: center;">
        <p>Please enter your login information:</p><br>
        <label for="username">Username:</label>
        <input id="username" type="text" placeholder="Your Username" ><br><br><br>
        <label for="password">Password:</label>
        <input id="password" type="text" placeholder="Your Password" ><br><br><br>
        <button style="border-radius: 5px; background-color: teal; font-size: 16px; font-weight: 500; height: 40px; width: 100px;">Log In</button>
    </div>
</body>
</html>